body {
    background-color: #eaf3fd;
    font-family: "Poppins", sans-serif;
    margin: 0;
    font-weight: 300;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.cardo {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: white;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;

}

.card-primary, .ui-valuef {
    background: #17a2b8;
    border-color: #17a2b8;
    color: white;
}

.card-second, .ui-values {
    background: #e83e8c;
    border-color: #e83e8c;
    color: white;
}

.card-orange, .ui-valuet {
    background: #fd7e14;
    border-color: #fd7e14;
    color: white;
}

.panel-heading {
    padding: 10px;

}

#slct1 {
    border-radius: 10px;
    color: black;

}

#username {
    border-radius: 10px;
    color: black;
}

.card-no-border .card {
    border-color: #d7dfe3;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.card {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.card {
    margin-bottom: 30px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

h3 {
    margin-top: 0;
    line-height: 30px;
    font-size: 21px;
}

#img {

    margin-top: 0;
    width: 30%;
    height: 20%;
    padding: 5px;
    float: right;
    margin-bottom: 30px;
}