@CHARSET "UTF-8";

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

body {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
    font: 16px/2em Lato, serif;
    margin: 20px auto;
}

.btn-shad {
    border: none;
}

.progress-bar {
    color: #000 !important;
    background-color: #3498db !important;
}

form[role=login] {
    color: #5d5d5d;
    background: #e2e1e145;
    padding: 26px;
}

form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}

form[role=login] input,
form[role=login] button {
    font-size: 18px;
    margin: 16px 0;
}

form[role=login] > div {
    text-align: center;
}

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}

.form-links a {
    color: #fff;
}

.required_fie:after {
    content: " *";
    color: red;
}